<div class="container">
    <mat-card class="card" style="height: 100px;">
        <mat-card-header>
            <mat-card-title><b>Assistencia Social</b></mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div class="send">
                <button class="sendButton" mat-raised-button color="primary" (click)="onNavigateTo('/new-sheltered-appointment')">
                    <mat-icon _ngcontent-rex-c82="" role="img"
                        class="mat-icon notranslate material-icons mat-icon-no-color" aria-hidden="true">
                        person_pin_circle</mat-icon>
                        Agendar Entrevista de Acolhimento
                </button>
                <button class="sendButton" mat-raised-button color="primary" (click)="onNavigateTo('/sheltered-appointments')">
                    <mat-icon _ngcontent-rex-c82="" role="img"
                        class="mat-icon notranslate material-icons mat-icon-no-color" aria-hidden="true">apps</mat-icon>
                    Entrevistas Cadastradas
                </button>
            </div>
        </mat-card-content>



    </mat-card>
    <mat-card class="card" style="min-height: 800px;">
        <mat-card-header>
            <mat-card-title>Tela de Assistente Social</mat-card-title>
            <mat-card-subtitle></mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <br/>
            <mat-card-subtitle>Ola Usuário,</mat-card-subtitle>
            <mat-card-subtitle>Esta tela exibe seus alertas referentes aos agendamentos de entrevistas dos acolhidos, fique atento aqui para Visualizar seus alertas</mat-card-subtitle>
            
    
        </mat-card-content>
    </mat-card>
</div>