<div class="container">

  <mat-card class="card" style="height: 100px;">
    <mat-card-header>
      <mat-card-title>
        Assistencia Social / <b>Todas as Entrevistas</b>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="send">
        <button class="sendButton" mat-raised-button color="primary"
          (click)="onNavigateTo('/new-sheltered-appointment')">
          <mat-icon _ngcontent-rex-c82="" role="img" class="mat-icon notranslate material-icons mat-icon-no-color"
            aria-hidden="true">
            person_pin_circle</mat-icon>
          Agendar Entrevista de Acolhimento
        </button>
        <button class="sendButton" mat-raised-button color="primary" (click)="onNavigateTo('/sheltered-appointments')"
          disabled>
          <mat-icon _ngcontent-rex-c82="" role="img" class="mat-icon notranslate material-icons mat-icon-no-color"
            aria-hidden="true">apps</mat-icon>
          Entrevistas Cadastradas
        </button>
      </div>
    </mat-card-content>



  </mat-card>

  <mat-card class="card" style="min-height: 800px;">

    <mat-card-header>
      <mat-card-title>Ficha de agendamento de acolhidos</mat-card-title>
      <mat-card-subtitle>Formulário para agendamento com a assistente social</mat-card-subtitle>
    </mat-card-header>

    <mat-list>
      <h3 mat-subheader>Entrevistas Registradas:</h3>
      <mat-list-item *ngFor="let schedule of scheduleModel">
        <mat-icon mat-list-icon>calendar_today</mat-icon>
        <h4 mat-line>Data: <b>{{ schedule.interviewDate | date:'dd/MM/yyyy'}} as {{schedule.interviewDate | date:'hh:mm'}}</b>, o nome do responsavél pelo idoso é  <b>{{ schedule.responsibleName }}</b> </h4>
        <p mat-line class="demo-2">Telefone: <b>{{schedule.responsiblePhone}}</b></p>
        <p mat-line class="demo-2">Responsavel do ABRIGO: <b>{{ schedule.scheduleResponsible }}</b></p>
        <mat-divider [inset]="true"></mat-divider>
      </mat-list-item>
      <mat-divider></mat-divider>
    </mat-list>

  </mat-card>
</div>