<div class="container">
    <mat-card class="card" style="height: 100px;">
        <mat-card-header>
            <mat-card-title>Recepção / <b>Consulta de Visitantes</b></mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div class="send">
                <button class="sendButton" mat-raised-button color="primary" (click)="onNavigateTo('/record-visit')">
                    <mat-icon _ngcontent-rex-c82="" role="img"
                        class="mat-icon notranslate material-icons mat-icon-no-color" aria-hidden="true">
                        person_pin_circle</mat-icon>
                    Novo Visitante
                </button>
                <button class="sendButton" mat-raised-button color="primary" (click)="onNavigateTo('/record-visit')"
                    disabled>
                    <mat-icon _ngcontent-rex-c82="" role="img"
                        class="mat-icon notranslate material-icons mat-icon-no-color" aria-hidden="true">apps</mat-icon>
                    Todos os Visitantes
                </button>
            </div>
        </mat-card-content>
    </mat-card>
    <mat-card class="card" style="min-height: 800px;">
        <mat-card-header>
            <mat-card-title>Visitante Cadastrados</mat-card-title>
            <mat-card-subtitle>Lista de Visitantes cadastrados:</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>

            <mat-list>
                <h3 mat-subheader>Entrevistas Registradas:</h3>
                <mat-list-item *ngFor="let visitor of visitorModel">
                    <p mat-line class="demo-2">Nome do Visitante: <b>{{visitor.name}}</b></p>
                </mat-list-item>
            </mat-list>


        </mat-card-content>

        

    </mat-card>
</div>