<div class="background">
    <div class="caritasLogo">
        <img src="./assets/LogoCaritas.png">
    </div>


    <div class="boxBackground">
        <div class="transbox">
            <div class="loginHeader">
                <div class="textHeader">Bem vindo ao Cáritas!</div>
                <div class="textTopic">Sistema de gestão de acolhidos da</div>
                <div class="logoBezerra">
                    <img class="logoLogin" alt="logoBezerradeMenezes" src="./assets/logoBezerradeMenezes.png">
                </div>
            </div>

            <form class="loginForm">
                <mat-form-field class="example-container">
                    <input matInput placeholder="Usuário">
                </mat-form-field>

                <mat-form-field class="example-container">
                    <input matInput placeholder="Senha" [type]="hide ? 'password' : 'text'">
                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                        [attr.aria-pressed]="hide">
                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                </mat-form-field>


                <div class="btn">
                    <button mat-raised-button color="Basic">Entrar</button>
                </div>

            </form>

            <div class="textHeader">Esqueci minha senha</div>
        </div>

    </div>

</div>