.background {
  position: relative;
  height: 100vh;
  display: grid;
  // grid-template-columns: 2fr minmax(300px, 1fr) 2fr;
  grid-template-columns: 2fr minmax(150px, 1.5fr) 2fr;
  grid-template-rows: 1fr minmax(300px, 2fr) 1fr;
  align-items: center;
  justify-content: center;
  background-image: url(src/assets/CaritasGestaoBG.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.caritasLogo{
  background-color: rgba(255, 255, 255, 0.274);
   background-blend-mode: 0.2;
    display: grid;
    grid-column: 1/4;
}

.boxBackground{
  display: flex;
  grid-row: 2/3;
  grid-column: 2/3;
  height: 430px;
  width: 100%;
}
.transbox {
grid-template-rows: 40px 50px 85px auto auto auto;
background-color: #ffffff75;
text-align: center;
}

.textHeader {
width:100%;
height:20px;
font-weight: bold;
color: white;
text-justify: auto;
float:left;
padding-top: 20px;
}

.textTopic{
width:100%;
height:20px;
font-weight: bold;
color: white;
float:left;
padding-bottom: 10px;
}

.loginForm{
grid-row: 4/5;
margin-bottom: 65px;
margin-top: 20px;
}

.logoBezerra {
width: auto;
align-content: center;
}
.example-container{
margin: 8px;
width: 80%;
}
// .example-container2{
//   margin: 8px;
//   max-width:80%;
//   display: flex;
//   }



mat-form-field{
width: 65%;
background-color: white;
border-radius: 0%;
}

.btn {
grid-row: 5/6;
margin-top: 20px;

}
.entryButton{
width: 65%;
background-color:  #2739dbbb ;
color:white;
width: 80%;
border-radius: 0%;
height: 20%;
}

.logoLogin{
width:85%;
}

.loginHeader{
background-color:#407edda8;
height:200px;
}

.mat-icon {
  background-repeat: no-repeat;
  display: flex;
  fill: currentColor;
  height: 20px;
  font-size: 16px;
  padding: auto;
  width: 24px;
}