<div class="container">
    <mat-card class="card" style="height: 100px;">
        <mat-card-header>
            <mat-card-title><b>Admin-Dshboard</b></mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div class="send">
                <button class="sendButton" mat-raised-button color="primary" (click)="onNavigateTo('/admin-configuration')">
                    <mat-icon _ngcontent-rex-c82="" role="img"
                        class="mat-icon notranslate material-icons mat-icon-no-color" aria-hidden="true">engineering </mat-icon>
                        Configurações Administrativas
                </button>
                <button class="sendButton" mat-raised-button color="primary" (click)="onNavigateTo('/list-users')" disabled>
                    <mat-icon _ngcontent-rex-c82="" role="img"
                        class="mat-icon notranslate material-icons mat-icon-no-color" aria-hidden="true">view_lists</mat-icon>
                    Lista de todos os usuários
                </button>
                <button class="sendButton" mat-raised-button color="primary" (click)="onNavigateTo('//log-info')">
                    <mat-icon _ngcontent-rex-c82="" role="img"
                        class="mat-icon notranslate material-icons mat-icon-no-color" aria-hidden="true">info</mat-icon>
                    Informações de login
                </button>
            </div>
        </mat-card-content>

    </mat-card>
    <mat-card class="card" style="min-height: 800px;">
        <mat-card-header>
            <p>
                <mat-card-title> Lista de Usuarios</mat-card-title>
            </p>
        </mat-card-header>
        <mat-card-content>
            <br />
            <mat-card-subtitle>Ola {{''}}</mat-card-subtitle>
            <mat-card-subtitle>Esta tela exibe todos os Usuários cadastrado no nosso sistema</mat-card-subtitle>


        </mat-card-content>
    </mat-card>

</div>
