<div class="container">
    <mat-card class="card" style="height: 100px;">
        <mat-card-header>
            <mat-card-title>
                <b>Cadastro de Acolhido</b>
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div class="send">
                <button class="sendButton" mat-raised-button color="primary" disabled>
                    <mat-icon _ngcontent-rex-c82="" role="img"
                        class="mat-icon notranslate material-icons mat-icon-no-color" aria-hidden="true">
                        person_pin_circle</mat-icon>
                    NONONO
                </button>
                <button class="sendButton" mat-raised-button color="primary">
                    <mat-icon _ngcontent-rex-c82="" role="img"
                        class="mat-icon notranslate material-icons mat-icon-no-color" aria-hidden="true">apps</mat-icon>
                        NONONO
                </button>
            </div>
        </mat-card-content>
    </mat-card>


    <mat-card class="card" style="min-height: 800px;">

        <mat-card-header>
          <mat-card-title>Ficha de cadastramento de possível acolhido</mat-card-title>
          <mat-card-subtitle>Formulário de cadastro</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <!-- <form [formGroup]="shelteredForm">
    
            
    
          </form> -->
        </mat-card-content>
    
        <mat-card-actions>
             <div class="backButton">
              <button mat-raised-button color="primary">Cadastrar</button>
             </div>
          </mat-card-actions>
      </mat-card>

</div>