<div class="container">
    <mat-card class="card" style="height: 100px;">
        <mat-card-header>
            <mat-card-title>
                <b>Cadastro de Acolhido</b>
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div class="send">
                <button class="sendButton" mat-raised-button color="primary" (click)="onNavigateTo('/dashboard')">
                    <mat-icon _ngcontent-rex-c82="" role="img"
                        class="mat-icon notranslate material-icons mat-icon-no-color" aria-hidden="true">
                        supervised_user_circle</mat-icon>
                    Visualizar Acolhidos
                </button>
            </div>
        </mat-card-content>
    </mat-card>


    <mat-card class="card" style="min-height: 700px;">
        <mat-card-header>
            <mat-card-title>Ficha de cadastramento de possível acolhido</mat-card-title>
            <mat-card-subtitle>Formulário de cadastro</mat-card-subtitle>
        </mat-card-header>
        <mat-card-header>
            <form [formGroup]="shelteredForm">
                <mat-form-field class='shelteredName'>
                    <input matInput placeholder="Nome do acolhido" formControlName="name"/>
                </mat-form-field>

                <mat-form-field class='shelteredAge'>
                    <input matInput placeholder="Idade" formControlName="age" type="number"/>
                </mat-form-field>

                <mat-form-field class='registrationBirthDate'>
                    <mat-label>Data de Nascimento</mat-label>
                    <input formControlName="birthDate" matInput [matDatepicker]="date"/>
                    <mat-datepicker-toggle matSuffix [for]="date"></mat-datepicker-toggle>
                    <mat-datepicker #date></mat-datepicker>
                </mat-form-field>

                <mat-form-field class='shelteredBloodTyping'>
                    <input matInput placeholder="Tipo Sanguíneo" formControlName="bloodTyping"/>
                </mat-form-field>

                <!-- <mat-form-field class='shelteredImage'>
                    <input type="file" #fileInput id="uploadFile" name="uploadFile" accept="image/*" />
                </mat-form-field> -->

                <mat-form-field class='shelteredAddress'>
                    <input matInput placeholder="Endereço" formControlName="address" type="text"/>
                </mat-form-field>

                <mat-form-field class='shelteredPhone'>
                    <input matInput placeholder="Telefone" formControlName="phone"/>
                </mat-form-field>

            </form>
        </mat-card-header>
        <mat-card-content>
            <div class="backButton">
                <button mat-raised-button color="primary" (click)="onSubmit()">
                    <mat-icon _ngcontent-rex-c82="" role="img"
                        class="mat-icon notranslate material-icons mat-icon-no-color" aria-hidden="true">elderly
                    </mat-icon>
                    Cadastrar Acolhido
                </button>
            </div>
        </mat-card-content>
    </mat-card>
</div>