mat-form-field, mat-form-field-wrapper, mat-form-field-flex {
    height: 30px;
    margin: 15px;
    border-radius: 2px;
    padding: 0.2rem;
    background-color: white;
  }

  .container{
    // grid-template-columns: 1fr minmax(920px, 4fr) 1fr;
    background-color: rgba(227, 227, 228, 0.911);
    max-height: fit-content;
    width:80%;
  }

.card {
    max-height: fit-content;
  }
  


  form{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    max-height: fit-content;
    // grid-gap: 5px;
  }

//   <<<<<< FORM >>>>>>

.registrationDate {
    grid-column: 1/2;
    grid-row: 1/2;
}

.shelteredName {
    grid-column: 1/3;
    grid-row: 2/3;
}

.shelteredAge {
    grid-column: 3/4;
    grid-row: 2/3;
}

.shelteredPhone {
    grid-column: 4/5;
    grid-row: 2/3;
}

.shelteredAddress {
    grid-column: 1/3;
    grid-row: 3/4;
}
.shelteredAddressNumber {
    grid-column: 3/4;
    grid-row: 3/4;
}

.shelteredAddressCEP {
    grid-column:4/5;
    grid-row: 3/4;
}

.responsibleName {
    grid-column: 1/3;
    grid-row: 4/5;
}

.relativeness {
    grid-column: 3/4;
    grid-row: 4/5;
}

.responsiblePhone {
    grid-column: 4/5;
    grid-row: 4/5;
}

.responsibleAddress {
    grid-column: 1/3;
    grid-row: 5/6;
}
.responsibleAddressNumber {
    grid-column: 3/4;
    grid-row: 5/6;
}

.responsibleAddressCEP {
    grid-column:4/5;
    grid-row: 5/6;
}

.interviewDate {
    grid-column: 3/4;
    grid-row: 6/7;
}

.obs {
    grid-column: 1/3;
    grid-row: 6/7;
}

.AppointmentResponsible {
    grid-column: 4/5;
    grid-row: 6/7;
}

.send{
    grid-column: 4/5;
    grid-row: 7/8;
    margin-left: auto;
    margin-right: 20px;
}

.sendButton{
    margin-left: auto;
}

@media screen and (max-width: 1700px) {
    .container{
        width:90%;
      }
  }
