<div class="container">

  <mat-card class="card" style="height: 100px;">
    <mat-card-header>
      <mat-card-title>
        Assistencia Social / <b>Agendamento de Entrevista de Acolhido</b>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="send">
        <button class="sendButton" mat-raised-button color="primary"
          (click)="onNavigateTo('/new-sheltered-appointment')" disabled>
          <mat-icon _ngcontent-rex-c82="" role="img" class="mat-icon notranslate material-icons mat-icon-no-color"
            aria-hidden="true">
            person_pin_circle</mat-icon>
          Agendar Entrevista de Acolhimento
        </button>
        <button class="sendButton" mat-raised-button color="primary" (click)="onNavigateTo('/sheltered-appointments')">
          <mat-icon _ngcontent-rex-c82="" role="img" class="mat-icon notranslate material-icons mat-icon-no-color"
            aria-hidden="true">apps</mat-icon>
          Entrevistas Cadastradas
        </button>
      </div>
    </mat-card-content>



  </mat-card>

  <mat-card class="card" style="min-height: 800px;">

    <mat-card-header>
      <mat-card-title>Ficha de agendamento de acolhidos</mat-card-title>
      <mat-card-subtitle>Formulário para agendamento com a assistente social</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="shelteredAppointment">

        <mat-form-field class='registrationDate'>
          <mat-label>Data de cadastro</mat-label>
          <input formControlName="scheduleDate" matInput [matDatepicker]="date">
          <mat-datepicker-toggle matSuffix [for]="date"></mat-datepicker-toggle>
          <mat-datepicker #date></mat-datepicker>
        </mat-form-field>

        <mat-form-field class='shelteredName'>
          <input matInput placeholder="Nome do acolhido" formControlName="shelteredName">
        </mat-form-field>

        <mat-form-field class='shelteredAge'>
          <input matInput placeholder="Idade do acolhido" formControlName="shelteredAge">
        </mat-form-field>

        <mat-form-field class='shelteredPhone'>
          <input matInput placeholder="Telefone do acolhido" formControlName="shelteredPhone">
        </mat-form-field>

        <mat-form-field class='shelteredAddress'>
          <input matInput placeholder="Logradouro" formControlName="shelteredAddress">
        </mat-form-field>

        <mat-form-field class='responsibleName'>
          <input matInput placeholder="Nome do responsável" formControlName="responsibleName">
        </mat-form-field>

        <mat-form-field class='relativeness'>
          <mat-label>grau de parentesco</mat-label>
          <mat-select formControlName="kinshipId">
              <mat-option></mat-option>
              <mat-option value="1">Pai/Mãe</mat-option>
              <mat-option value="3">Filho(a)</mat-option>
              <mat-option value="25">Neto(a)</mat-option>
              <mat-option value="22">Bisneto(a)</mat-option>
              <mat-option value="5">Cônjuje</mat-option>
              <mat-option value="6">Nora</mat-option>
              <mat-option value="7">Genro</mat-option>
              <mat-option value="10">Cunhado(a)</mat-option>
              <mat-option value="12">Primo(a)</mat-option>
              <mat-option value="16">Sobrinho(a)</mat-option>
              <mat-option value="20">Amigo(a)</mat-option>
          </mat-select>
      </mat-form-field>


        <mat-form-field class='responsiblePhone'>
          <input matInput placeholder="Telefone do responsável" formControlName="responsiblePhone">
        </mat-form-field>

        <mat-form-field class='responsibleAddress'>
          <input matInput placeholder="Endereço do Responsável" formControlName="responsibleAddress">
        </mat-form-field>

        <mat-form-field class='interviewDate'>
          <mat-label>Data da entrevista</mat-label>
          <input matInput [matDatepicker]="interviewDate" formControlName="interviewDate">
          <mat-datepicker-toggle matSuffix [for]="interviewDate"></mat-datepicker-toggle>
          <mat-datepicker #interviewDate></mat-datepicker>
        </mat-form-field>

        <mat-form-field class='obs'>
          <textarea matInput placeholder="Observações" formControlName="observation"></textarea>
        </mat-form-field>

        <mat-form-field class='AppointmentResponsible'>
          <input matInput placeholder="Responsável pelo Agendamento" formControlName="scheduleResponsible">
        </mat-form-field>

        <div class="send">
          <button class="sendButton" mat-raised-button color="primary" (click)="onSubmit()">Enviar</button>
        </div>

      </form>
    </mat-card-content>

    <!-- <mat-card-actions>
         <div class="backButton">
          <button mat-raised-button color="primary">Novo</button>
         </div>
      </mat-card-actions> -->
  </mat-card>
</div>