<div class="container">
    <mat-card class="card" style="height: 100px;">
        <mat-card-header>
            <mat-card-title><b>Recepção</b></mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div class="send">
                <button class="sendButton" mat-raised-button color="primary" (click)="onNavigateTo('/record-visit')">
                    <mat-icon _ngcontent-rex-c82="" role="img"
                        class="mat-icon notranslate material-icons mat-icon-no-color" aria-hidden="true">
                        person_pin_circle</mat-icon>
                    Novo Visitante
                </button>
                <button class="sendButton" mat-raised-button color="primary" (click)="onNavigateTo('/past-visit')">
                    <mat-icon _ngcontent-rex-c82="" role="img"
                        class="mat-icon notranslate material-icons mat-icon-no-color" aria-hidden="true">apps</mat-icon>
                    Todos os Visitantes
                </button>
            </div>
        </mat-card-content>



    </mat-card>
    <mat-card class="card" style="min-height: 800px;">
        <mat-card-header>
            <mat-card-title>Tela de Recepção</mat-card-title>
            <mat-card-subtitle>Recepção de Visitante</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>

            
    
        </mat-card-content>
    </mat-card>
    
</div>