/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&subset=latin-ext");
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
  margin: 0;
  font-family: "Roboto";
  font-weight: normal;
}



html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.container {
  padding: 1.5rem;
  padding-bottom: 5rem;
  padding-top: 1rem;
  min-height: calc(100vh - 3rem - 3.5rem - 92px);
  display: grid;
  grid-gap: 1rem;

  @media screen and (max-width: 599px) {
    min-height: calc(100vh - 148px);
  }

  @media screen and (max-width: 1023px) {
    padding-bottom: 5rem;
    display: flex;
    flex-direction: column;
  }
}
mat-card.mat-card {
  height: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

mat-card-header.mat-card-header {
  border-bottom: 1px solid lightgray;
  user-select: none;
}

mat-card-content.mat-card-content {
  flex: 1;
}

mat-card-actions.mat-card-actions {
  display: flex;
  justify-content: flex-end;
}
.mat-step-optional {
  visibility: hidden;
  &:before {
    content: "Opcional";
    visibility: visible;
    display: flex;
    justify-content: center;
  }
}

table tr.mat-header-row {
  height: 40px;
}

.input-container {
  padding-top: 0.7rem;
}

.mat-form-field-wrapper .mat-form-field-flex .mat-form-field-infix {
  border: 1px solid gray;
  border-radius: 4px;
  padding-left: 0.5rem;
  display: flex;
  box-shadow: inset 0px 1px 3px lightgray;
  box-sizing: border-box;
  background-color: white;
}

.mat-form-field-invalid
  .mat-form-field-wrapper
  .mat-form-field-flex
  .mat-form-field-infix {
  border: 1px solid red;
  box-shadow: inset 0px 1px 3px lightcoral;
}

.mat-form-field-label-wrapper {
  overflow: visible !important;
}

.mat-form-field-label {
  padding-left: 0.5rem;
}
.mat-form-field-underline {
  display: none;
}
mat-datepicker-toggle {
  margin-left: 0.3rem;
}
button.mat-mini-fab {
  width: 24px;
  height: 24px;
  line-height: 24px;
  min-height: 24px;
  font-size: 10px;
}

button.mat-mini-fab .mat-button-wrapper {
  width: 24px;
  height: 24px;
  line-height: 24px;
  min-height: 24px;
  font-size: 2em;
  padding: 0 0;
  margin: 0;
}

.tooltip {
  white-space: pre-line;
}

tr.mat-row.edited {
  animation: 1500ms ease-out 0s 1 enterRow;
}

@keyframes enterRow {
  0% {
    background: lightgreen;
  }
}
.d-flex {
  display: flex;
}

.align-center {
  align-items: center;
}

.c-pointer {
  cursor: pointer;
}
.mat-form-field-wrapper {
  padding-bottom: 0 !important;
}
