mat-form-field, mat-form-field-wrapper, mat-form-field-flex {
    height: 30px;
    margin: 15px;
    border-radius: 2px;
    padding: 0.2rem;
    background-color: white;
  }

  .container{
    // grid-template-columns: 1fr minmax(920px, 4fr) 1fr;
    background-color: rgba(227, 227, 228, 0.911);
    max-height: fit-content;
    width:80%;
  }

.card {
    max-height: fit-content;
  }
  


  form{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    max-height: fit-content;
    margin-left: -36px;
    // grid-gap: 5px;
  }

//   <<<<<< FORM >>>>>>