<div class="container">
    <mat-card class="card" style="height: 100px;">
        <mat-card-header>
            <mat-card-title>Configurações de Usuário / <b>Atualização de Cadastro</b></mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div class="send">
                <button class="sendButton" mat-raised-button color="primary"
                    disabled>
                    <mat-icon _ngcontent-rex-c82="" role="img"
                        class="mat-icon notranslate material-icons mat-icon-no-color" aria-hidden="true">
                        open_in_new</mat-icon>
                    Editar Usuário
                </button>
            </div>
        </mat-card-content>
    </mat-card>
    <mat-card class="card" style="min-height: 800px;">
        <mat-card-header>
            <mat-card-title>Atualize seus dados</mat-card-title>
        </mat-card-header>
        
        <mat-card-content style='padding-left: 20px;'>
            <form>

                <mat-form-field class='name'>
                    <input matInput placeholder={{usuario.name}} formControlName="name">
                </mat-form-field>

                <mat-form-field class='currentPassword'>
                    <input type="password" matInput placeholder="Senha Atual" formControlName="passaword">
                </mat-form-field>

                <mat-form-field class='newPassword'>
                    <input type="password" matInput placeholder="Nova Senha" formControlName="passaword">
                </mat-form-field>

                <mat-form-field class='repeatNewPassword'>
                    <input type="password" matInput placeholder="Repita a Senha" formControlName="passaword">
                </mat-form-field>


                <mat-form-field class='newEmail'>
                    <input matInput placeholder={{usuario.email}} formControlName="Email">
                </mat-form-field>

                
                <div class="send">
                    <button class="sendButton" mat-raised-button color="primary"> Atualizar </button>
                </div>

            </form>
        </mat-card-content>


    </mat-card>
</div>