<div class="container">
    <mat-card class="card" style="height: 100px;">
        <mat-card-header>
            <mat-card-title>
                <b>Cadastro de Acolhido</b>
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div class="send">
                <button class="sendButton" mat-raised-button color="primary">
                    <mat-icon _ngcontent-rex-c82="" role="img"
                        class="mat-icon notranslate material-icons mat-icon-no-color" aria-hidden="true">
                        supervised_user_circle</mat-icon>
                    Visualizar Acolhidos
                </button>
            </div>
        </mat-card-content>
    </mat-card>
</div>