
    <mat-toolbar >
      <button mat-icon-button  >
        <mat-icon>menu</mat-icon>
      </button>
      <span class="logoCaritas"><img src=".\assets\LogoCaritas.png"></span>
      <span class="space"></span>
      <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon>account_circle</mat-icon>
      </button>
      <button mat-icon-button >
        <mat-icon>share</mat-icon>
      </button>
    </mat-toolbar>
    <app-sidenav #sidenav></app-sidenav>

