<div class="container">
    <mat-card class="card" style="height: 100px;">
        <mat-card-header>
            <mat-card-title>Recepção / <b>Registrar Visitante</b></mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div class="send">
                <button class="sendButton" mat-raised-button color="primary" (click)="onNavigateTo('/record-visit')"
                    disabled>
                    <mat-icon _ngcontent-rex-c82="" role="img"
                        class="mat-icon notranslate material-icons mat-icon-no-color" aria-hidden="true">
                        person_pin_circle</mat-icon>
                    Novo Visitante
                </button>
                <button class="sendButton" mat-raised-button color="primary" (click)="onNavigateTo('/past-visit')">
                    <mat-icon _ngcontent-rex-c82="" role="img"
                        class="mat-icon notranslate material-icons mat-icon-no-color" aria-hidden="true">apps</mat-icon>
                    Todos os Visitantes
                </button>
            </div>
        </mat-card-content>
    </mat-card>

    <mat-card class="card" style="min-height: 800px;">
        <mat-card-header>
            <mat-card-title>Cadastrar Visitante</mat-card-title>
            <mat-card-subtitle>Formulário de cadastro de Visitante</mat-card-subtitle>
        </mat-card-header>


        <mat-card-content style='padding-left: 20px;'>
            <form [formGroup]="recordVisitForm">

                <mat-form-field class='visitName'>
                    <input matInput placeholder="Nome do visitante" formControlName="name" required>
                </mat-form-field>

                <mat-form-field class='visitPhone'>
                    <input matInput placeholder="Numero de Telefone" formControlName="phone">
                </mat-form-field>

                <mat-form-field class='relativeness'>
                    <mat-label>grau de parentesco</mat-label>
                    <mat-select formControlName="kinshipId" required>
                        <mat-option></mat-option>
                        <mat-option value="1">Pai</mat-option>
                        <mat-option value="2">Mãe</mat-option>
                        <mat-option value="3">Filho</mat-option>
                        <mat-option value="4">Filha</mat-option>
                        <mat-option value="5">Cônjuje</mat-option>
                        <mat-option value="6">Nora</mat-option>
                        <mat-option value="7">Genro</mat-option>
                        <mat-option value="8">Sogra</mat-option>
                        <mat-option value="9">Sogro</mat-option>
                        <mat-option value="10">Cunhado</mat-option>
                        <mat-option value="11">Cunhada</mat-option>
                        <mat-option value="12">Primo</mat-option>
                        <mat-option value="13">Prima</mat-option>
                        <mat-option value="14">Tia</mat-option>
                        <mat-option value="15">Tio</mat-option>
                        <mat-option value="16">Sobrinho</mat-option>
                        <mat-option value="17">Sobrinha</mat-option>
                        <mat-option value="18">Sobrinho-neto</mat-option>
                        <mat-option value="19">Sobrinha-neta</mat-option>
                        <mat-option value="20">Amigo</mat-option>
                        <mat-option value="21">Amiga</mat-option>
                        <mat-option value="22">Bisneto</mat-option>
                        <mat-option value="23">Bisneta</mat-option>
                        <mat-option value="24">Nenhum</mat-option>
                        <mat-option value="25">Neto</mat-option>
                        <mat-option value="26">Neta</mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field class='visitAddress'>
                    <input matInput placeholder="Endereço" formControlName="adress">
                </mat-form-field>

                <mat-form-field class='visitRg'>
                    <input matInput placeholder="Rg" formControlName="rg" required>
                </mat-form-field>

                <mat-form-field class='shelteredId'>
                    <input matInput placeholder="Nome do acolhido" formControlName="shelteredId" required>
                </mat-form-field>

                <!-- calendario -->
                <mat-form-field class='visitDate'>
                    <mat-label>Data da visitante</mat-label>
                    <input matInput [matDatepicker]="visitDate" formControlName="visitDate">
                    <mat-datepicker-toggle matSuffix [for]="visitDate"></mat-datepicker-toggle>
                    <mat-datepicker #visitDate></mat-datepicker>
                </mat-form-field>
                <!--Botão para enviar formulario-->
                <div class="send">
                    <button class="sendButton" mat-raised-button color="primary" 
                    (click)="onSubmit()">Cadastrar</button>
                </div>

            </form>
        </mat-card-content>


    </mat-card>
</div>