.footerBackground {
    // background-image: url('../../../assets/CaritasGestaoBG.png');
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin: 0;
    background-color: #260658;
    
}
img{

    height: 50px;
    padding: 30px;
}
