<div class="container">
    <mat-card class="card" style="height: 100px;">
        <mat-card-header>
            <mat-card-title><b>Admin-Dshboard</b></mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div class="send">
                <button class="sendButton" mat-raised-button color="primary" (click)="onNavigateTo('/admin-configuration')" disabled>
                    <mat-icon _ngcontent-rex-c82="" role="img"
                        class="mat-icon notranslate material-icons mat-icon-no-color" aria-hidden="true">engineering </mat-icon>
                        Configurações Administrativas
                </button>
                <button class="sendButton" mat-raised-button color="primary" (click)="onNavigateTo('/list-users')">
                    <mat-icon _ngcontent-rex-c82="" role="img"
                        class="mat-icon notranslate material-icons mat-icon-no-color" aria-hidden="true">view_lists</mat-icon>
                    Lista de todos os usuários
                </button>
                <button class="sendButton" mat-raised-button color="primary" (click)="onNavigateTo('//log-info')">
                    <mat-icon _ngcontent-rex-c82="" role="img"
                        class="mat-icon notranslate material-icons mat-icon-no-color" aria-hidden="true">info</mat-icon>
                    Informações de login
                </button>
            </div>
        </mat-card-content>

    </mat-card>
    <mat-card class="card" style="min-height: 800px;">
        <mat-card-header>
            <mat-card-title>Atualize seus dados administrativo now</mat-card-title>
        </mat-card-header>
        <mat-card-content style='padding-left: 20px;'>
            <form [formGroup]="adminConfigurationForm">

                <mat-form-field class='name'>
                    <input matInput placeholder={{usuario.name}} formControlName="name">
                </mat-form-field>

                <mat-form-field class='currentPassword'>
                    <input type="password" matInput placeholder="Senha Atual" formControlName="password">
                </mat-form-field>

                <mat-form-field class='newPassword'>
                    <input type="password" matInput placeholder="Nova Senha" formControlName="newPassword">
                </mat-form-field>

                <mat-form-field class='repeatNewPassword'>
                    <input type="password" matInput placeholder="Repita a Senha" formControlName="repeatPassword">
                </mat-form-field>


                <mat-form-field class='newEmail'>
                    <input matInput placeholder={{usuario.email}} formControlName="email">
                </mat-form-field>


                <div class="send">
                    <button class="sendButton" mat-raised-button color="primary" (click)="onSubmit()"> Atualizar
                    </button>
                </div>

            </form>
        </mat-card-content>


    </mat-card>
</div>
